.button {
  border: 1px solid $text-color;
  padding: 12px 40px;

  &:hover {
    color: $white;
    background: $text-color;
  }
}

.button-white {
  border: 1px solid $white;
  padding: 12px 40px;
  color: $white;

  &:hover {
    color: $text-color;
    background: $white;
  }
}
.button-plain {
  border: 1px solid !important;
  background: transparent;
}
.button-container {
  margin: 50px 0;
}

.button-primary {
  background: $primary;
  color: white !important;
  padding: 12px 40px;

  &:hover {
    background: darken($primary, 7%);
  }

  &:disabled {
    background: lighten($primary, 10%);
    cursor: not-allowed;
  }
}

/* Add a right margin to each icon */
.fa {
  margin-left: -12px;
  margin-right: 8px;
}