.sprite{
  background-image: url('../../images/plus-minus.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin: 8px 5px;
}
.minus {
  background-position: 0px 0px;

  &:hover {
    cursor: pointer;
  }
}

.plus {
  background-position: -16px 0px;

  &:hover {
    cursor: pointer;
  }
}

.quantity-container{
  display:flex;
  margin: 8px 5px;

  input{
    height: 23px;
    width: 32px;
    text-align: center;
  }
}
